<h1>To Do List</h1>
<form action="/task_added" method="post">
  <label for="new-task">Task description:</label>
  <input id="new-task" name="new-task" type="text">
  <button type="submit">Submit</button>
</form>
