<h1>To Do List</h1>
<h3>Add a new task:</h3>
<form action='/tasks' method='post'>
  <label for='new-task'>Task Description</label>
  <input id='new-task' name='new-task' type='text'>
  <button type='submit'>Add task</button>
</form>
