<h1>To Do List</h1>
<ul>
  @foreach(string task in Model)
  {
    <li>@task</li>
  }
</ul>
<p><a href="/">Add another task</a></p>
<form action="/tasks_cleared" method="post">
  <button type="submit" name="button">Clear All Tasks</button>
</form>
